.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Core/v15/.suo
.vs/RS2.Core/DesignTimeBuild/.dtbcache
.vs/RS2.Core/v15/.suo
.vs/RS2.Core/v15/Server/sqlite3/db.lock
.vs/RS2.Core/v15/Server/sqlite3/storage.ide
.vs/RS2.Core/v15/Server/sqlite3/storage.ide-shm
.vs/RS2.Core/v15/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp2.0/Core.Data.deps.json
bin/Debug/netcoreapp2.0/Core.Data.dll
bin/Debug/netcoreapp2.0/Core.Data.pdb
bin/Debug/netcoreapp2.0/Core.Data.xml
bin/Debug/netcoreapp2.0/RS2.Core.deps.json
bin/Debug/netcoreapp2.0/RS2.Core.dll
bin/Debug/netcoreapp2.0/RS2.Core.pdb
bin/release/Core.Data.1.0.0.nupkg
bin/release/Core.Data.1.0.1.nupkg
bin/release/netcoreapp2.0/Core.Data.deps.json
bin/release/netcoreapp2.0/Core.Data.dll
bin/release/netcoreapp2.0/Core.Data.pdb
obj/Core.Data.csproj.nuget.cache
obj/Core.Data.csproj.nuget.dgspec.json
obj/Core.Data.csproj.nuget.g.props
obj/Core.Data.csproj.nuget.g.targets
obj/project.assets.json
obj/RS2.Core.csproj.nuget.cache
obj/RS2.Core.csproj.nuget.g.props
obj/RS2.Core.csproj.nuget.g.targets
obj/Debug/netcoreapp2.0/Core.Data.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/Core.Data.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/Core.Data.assets.cache
obj/Debug/netcoreapp2.0/Core.Data.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Core.Data.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/Core.Data.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.0/Core.Data.dll
obj/Debug/netcoreapp2.0/Core.Data.pdb
obj/Debug/netcoreapp2.0/project.razor.json
obj/Debug/netcoreapp2.0/RS2.Core.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/RS2.Core.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/RS2.Core.assets.cache
obj/Debug/netcoreapp2.0/RS2.Core.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/RS2.Core.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/RS2.Core.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.0/RS2.Core.dll
obj/Debug/netcoreapp2.0/RS2.Core.pdb
obj/release/Core.Data.1.0.0.nuspec
obj/release/Core.Data.1.0.1.nuspec
obj/release/Core.Data.1.3.2.nuspec
obj/release/Core.Data.1.4.0.nuspec
obj/release/RS2.Core.1.3.1.nuspec
obj/release/RS2.Core.1.3.2.nuspec
obj/release/netcoreapp2.0/Core.Data.AssemblyInfo.cs
obj/release/netcoreapp2.0/Core.Data.AssemblyInfoInputs.cache
obj/release/netcoreapp2.0/Core.Data.assets.cache
obj/release/netcoreapp2.0/Core.Data.csproj.CoreCompileInputs.cache
obj/release/netcoreapp2.0/Core.Data.csproj.FileListAbsolute.txt
obj/release/netcoreapp2.0/Core.Data.csprojAssemblyReference.cache
obj/release/netcoreapp2.0/Core.Data.dll
obj/release/netcoreapp2.0/Core.Data.pdb
obj/release/netcoreapp2.0/RS2.Core.AssemblyInfo.cs
obj/release/netcoreapp2.0/RS2.Core.AssemblyInfoInputs.cache
obj/release/netcoreapp2.0/RS2.Core.assets.cache
obj/release/netcoreapp2.0/RS2.Core.csproj.CoreCompileInputs.cache
obj/release/netcoreapp2.0/RS2.Core.csproj.FileListAbsolute.txt
obj/release/netcoreapp2.0/RS2.Core.csprojAssemblyReference.cache
obj/release/netcoreapp2.0/RS2.Core.dll
obj/release/netcoreapp2.0/RS2.Core.pdb
